<!-- CAROUSEL for HOMEPAGE -->
<div id="carouselImages" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="background-slide" style="background-image: url('@Url.Content("~/images-carousel/picture1.jpg")');"></div>
        </div>
        <div class="carousel-item">
            <div class="background-slide" style="background-image: url('@Url.Content("~/images-carousel/picture2.jpg")');"></div>
        </div>
        <div class="carousel-item">
            <div class="background-slide" style="background-image: url('@Url.Content("~/images-carousel/picture3.jpg")');"></div>
        </div>
        <div class="carousel-item">
            <div class="background-slide" style="background-image: url('@Url.Content("~/images-carousel/picture4.jpg")');"></div>
        </div>
        <div class="carousel-item">
            <div class="background-slide" style="background-image: url('@Url.Content("~/images-carousel/picture5.jpg")');"></div>
        </div>
    </div>
</div>
